<h1>Mis Consolas</h1>
<hr>
<div class="row">
 <div class="card" style="width: 18rem;">
 <img class="card-img-top" src="https://supermario.nintendo.com/assets/img/home/mario.png" alt="Mario">
 <div class="card-body">
 <h5 class="card-title">Mario Odyssey</h5>
 <a [routerLink]="['juego']" class="btn btn-primary">Información</a>
 </div>
 </div>
 <div class="card" style="width: 18rem;">
 <img class="card-img-top" src="https://cdn02.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_12Switch_image1600w.jpg" alt="123">
 <div class="card-body">
 <h5 class="card-title">1-2-Switch</h5>
 <a href="#" class="btn btn-primary">Información</a>
 </div>
 </div>
 <div class="card" style="width: 18rem;">
 <img class="card-img-top" src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/styles/main_element/public/media/image/2017/01/arms-nintendo-switch_1.jpg?itok=d0Gk7CQw" alt="Arms">
 <div class="card-body">
 <h5 class="card-title">Arms</h5>
 <a href="#" class="btn btn-primary">Información</a>
 </div>
 </div>
</div>
