<h1>Mis Consolas</h1>
<hr>
<div class="row">
 <div class="card" style="width: 18rem;">
 <img class="card-img-top" src="assets/pcmr.jpg" alt="PC Master Race">
 <div class="card-body">
 <h5 class="card-title">PC</h5>
 <p class="card-text">Juegos para PC</p>
 <a href="#" class="btn btn-primary">Información</a>
 </div>
 </div>
 <div class="card" style="width: 18rem;">
 <img class="card-img-top" src="assets/ps4.jpg" alt="Playstation 4">
 <div class="card-body">
 <h5 class="card-title">Playstation</h5>
 <p class="card-text">Juegos para Playstation</p>
 <a href="#" class="btn btn-primary">Información</a>
 </div>
 </div>
 <div class="card" style="width: 18rem;">
 <img class="card-img-top" src="assets/xboxone.jpg" alt="Xbox One">
 <div class="card-body">
 <h5 class="card-title">Xbox</h5>
 <p class="card-text">Juegos para Xbox</p>
 <a href="#" class="btn btn-primary">Información</a>
 </div>
 </div>
 <div class="card" style="width: 18rem;">
 <img class="card-img-top" src="assets/nswitch.jpg" alt="Nintendo Switch">
 <div class="card-body">
 <h5 class="card-title">Switch</h5>
 <p class="card-text">Juegos para Switch</p>
 <a [routerLink]="['infoswitch']" class="btn btn-primary">Información</a>
</div>
</div>
</div>
